ideogram/N8N-SIMPLE-WORKFLOW.json
{
  "name": "Ideogram Remix - Simple Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ideogram-remix",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://46.250.232.188:3000/api/remix",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"imageUrl\": \"{{ $json.body.imageUrl }}\",\n  \"prompt\": \"{{ $json.body.prompt || '' }}\",\n  \"imageWeight\": {{ $json.body.imageWeight || 70 }},\n  \"magicPrompt\": \"{{ $json.body.magicPrompt || 'AUTO' }}\",\n  \"style\": \"{{ $json.body.style || 'AUTO' }}\",\n  \"promptSource\": \"{{ $json.body.promptSource || 'AUTO' }}\",\n  \"num_images\": {{ $json.body.num_images || 1 }}\n}",
        "options": {}
      },
      "id": "start-remix-job",
      "name": "Start Remix Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://46.250.232.188:3000/api/job/{{ $('Start Remix Job').item.json.jobId }}",
        "options": {}
      },
      "id": "check-job-status",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.isComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-complete",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-with-results",
      "name": "Respond With Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-15s-retry",
      "name": "Wait 15s (Retry)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Start Remix Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Remix Job": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Respond With Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s (Retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s (Retry)": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
